# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Data (tracked structure via .gitkeep, but not raw/processed content)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep


# OS / editor
.DS_Store
.vscode/
.idea/
